@import url("/static/css/colors.css");

* {
    font-family: 'Poppins';
    scrollbar-width: thin;
    scrollbar-color: var(--light-gray) #00000000;
}

.scroll-bar::-webkit-scrollbar {
    width: 4px;
}

.scroll-bar::-webkit-scrollbar-track {
    background: #00000000;
    border-radius: 0px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background: var(--light-gray);
    border-radius: 4px;
    border: 0px solid #00000000;
}

body {
    background-color: var(--dark-gray);
    color: var(--white);
}

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: white;  /* Ensure the background is solid */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for visual effect */
  }
  
  body {
    padding-top: 60px;  /* Adjust based on the height of your top bar */
  }
  
  .container-fluid {
    padding-top: 0;  /* Remove any additional padding */
  }

.burger-menu {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.burger-line {
    width: 100%;
    height: 3px;
    background-color: var(--white);
    margin: 5px 0;
    transition: all 0.3s ease;
}

.burger-menu.open .burger-line:nth-child(1) {
    transform: rotate(45deg) translate(7px, 5px);
}

.burger-menu.open .burger-line:nth-child(2) {
    opacity: 0;
    transform: scale(-10%);
}

.burger-menu.open .burger-line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);
}

.nav-menu.left {
    position: fixed;
    left: 0px;
    border-bottom-right-radius: 8px;
}

.nav-menu.right {
    position: fixed;
    right: 0px;
    border-bottom-left-radius: 8px;
}

.nav-menu {
    position: fixed;
    top: 60px;
    width: 200px;
    z-index: 1000;
    overflow: hidden;
    height: 0;
    background-color: var(--gray);
    transition: height 0.2s ease;
}

.nav-menu ul {
    margin: 0;
    padding: 1rem;
}

.bg-dark-gray {
    background-color: var(--dark-gray);
}

.text-white {
    color: var(--white);
}

.nav-link.active {
    background-color: var(--light-orange) !important;
}

.top-bar {
    background-color: var(--light-bg);
}

.top-bar .logo {
    width: 160px;
    /* Adjust logo size */
    height: auto;
}

.btn-outline-danger {
    --bs-btn-color: var(--danger);
    --bs-btn-border-color: var(--danger);
    --bs-btn-hover-color: var(--white);
    --bs-btn-hover-bg: var(--danger);
    --bs-btn-hover-border-color: var(--danger);
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: var(--white);
    --bs-btn-active-bg: var(--danger);
    --bs-btn-active-border-color: var(--danger);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--danger);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--danger);
    --bs-gradient: none;
}

.btn-outline-primary {
    --bs-btn-color: var(--blue);
    --bs-btn-border-color: var(--blue);
    --bs-btn-hover-color: var(--white);
    --bs-btn-hover-bg: var(--blue);
    --bs-btn-hover-border-color: var(--blue);
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: var(--white);
    --bs-btn-active-bg: var(--blue);
    --bs-btn-active-border-color: var(--blue);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--blue);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--blue);
    --bs-gradient: none;
}

.btn-outline-orange {
    --bs-btn-color: var(--light-orange);
    --bs-btn-border-color: var(--light-orange);
    --bs-btn-hover-color: var(--white);
    --bs-btn-hover-bg: var(--light-orange);
    --bs-btn-hover-border-color: var(--light-orange);
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: var(--white);
    --bs-btn-active-bg: var(--light-orange);
    --bs-btn-active-border-color: var(--light-orange);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--light-orange);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--light-orange);
    --bs-gradient: none;
}

.btn-outline-gray {
    --bs-btn-color: var(--outline);
    --bs-btn-border-color: var(--outline);
    --bs-btn-hover-color: var(--white);
    --bs-btn-hover-bg: var(--outline);
    --bs-btn-hover-border-color: var(--outline);
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: var(--white);
    --bs-btn-active-bg: var(--outline);
    --bs-btn-active-border-color: var(--outline);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--outline);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--outline);
    --bs-gradient: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.card {
    background-color: var(--gray);
}

.form-control, .form-select {
    background-color: var(--dark-gray);
    border-color: #00000000;
    border-width: 2px;
    box-shadow: none;
    color: var(--white);
}

.form-control:focus, .form-select:focus {
    background-color: var(--dark-gray);
    border-color: var(--outline);
    border-width: 2px;
    box-shadow: none;
    color: var(--white);
}

.table {
    --bs-table-color: var(--white);
    --bs-table-bg: transparent;
    --bs-table-border-color: var(--outline);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--white);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--bs-table-color);
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}

.alert-danger {
    position: fixed;
    top: 60px;
    width: 600px;
    z-index: 10000;
    left: calc(50% - 300px) ;
    text-align: center;
    padding: 4px;
    cursor: pointer;
    --bs-alert-color: var(--red);
    --bs-alert-bg: #00000056;
    --bs-alert-border-color: var(--red);
    --bs-alert-link-color: var(--bs-danger-text);
}

.btn-close {
    display: none;
}