<!DOCTYPE html>
<html>
    <head>
        <!-- favicon.ico --> 
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- Title Block -->
        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" rel="stylesheet">
        
        <!-- Google Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap">
        
        <!-- Base CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    </head>
    <body class=" bg-dark text-white">
        {% block static %}
            <!-- Navigation Bar -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-logo" style="margin-right: 20px;">
                    <img src="{{ url_for('static', filename='logo.svg') }}" alt="Pilotica Logo" width="125px">
                </a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav_items">
                        <a class="nav-link" href="{{ url_for('webinterface.agents') }}">Agents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Builder</a>
                    </li>
                    <li class="nav-item">
                    {% if current_pilot.role == 'ADMIN' %}
                        <a class="nav-link" href="{{ url_for('webinterface.pilots') }}">Pilots</a>
                    {% else %}
                        <a class="nav-link disabled" href="{{ url_for('webinterface.pilots') }}">Pilots</a>
                    {% endif %}
                    </li>
                </ul>
                    <div class="ml-auto"></div>
                        <span class="nav-text">{{ current_pilot.name }}</span>
                    <a id="logout-btn" class="btn btn-sm btn-outline-danger" type="button" href="{{ url_for('auth.logout') }}" data-toggle="tooltip" data-placement="bottom" title="Logout">
                        <i class="bi bi-box-arrow-right"></i>
                    </a>
                </div>
            </nav>

            <!-- Modal for Confirmation Dialog -->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="font-weight: 600;">Confirm Delete</h5>
                        <button type="button" onclick="$('#deleteModal').modal('hide');" class="btn close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="deleteModal-text">
                        Are you sure you want to continue the deletion process?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#deleteModal').modal('hide');">Cancel</button>
                        <button type="button" class="btn btn-danger" id="deleteButton">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <!-- Alerts -->
                {% for category, message in messages %}
                    <div id="alert-{{ loop.index }}"class="alert alert-{{ category }} alert-dismissible fade show mb-3" role="alert">
                        {{ message }}
                        <button onclick="document.getElementById('alert-{{ loop.index }}').remove()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- jQuery library -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- Bootstrap JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>

        {% block body %}
        {% endblock %}

        <!-- Base JavaScript -->
        <script>{% include 'js/base.js' %}</script>