<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pilotica - {% block title %}{% endblock title %}</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css">
  <link rel="stylesheet" href="/static/css/base.css">
  {% block head %}
  {% endblock head %}
</head>
<body style="max-hight: clac(100vh - 100px);">
  <div class="container-fluid">
    {% if user %}
    <!-- Top Bar -->
    <div class="row py-2 align-items-center top-bar">
      <div class="col-3 d-flex align-items-center">
        <!-- Burger Menu -->
        <div class="burger-menu" id="burgerBtn">
          <div class="burger-line"></div>
          <div class="burger-line"></div>
          <div class="burger-line"></div>
        </div>
      </div>
      <div class="col-6 text-center">
        <!-- Logo Image -->
        <img src="/static/logo.svg" alt="Logo" class="noselect logo">
      </div>
      <div class="col-3 text-end noselect" style="cursor: pointer;" id="profileBtn">
        <span class="me-2 d-inline" style="font-size: 18px;">{{ user.name }}</span>
        <img width="40px" src="/api/users/{{ user.id }}/image.png" alt="Profile" class="rounded-circle">
      </div>
    </div>

    <!-- Dropdown Navigation Menu -->
    <div class="row nav-menu left" id="navMenu">
      <nav class="col">
        <ul class="nav flex-column nav-pills p-2">
          <li class="nav-item">
            <a class="nav-link noselect text-white {% if active == 'dashboard' %}active{% endif %}" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link noselect text-white {% if active == 'clients' %}active{% endif %}" href="/clients">Clients</a>
          </li>
          {% if premissions["Configurator"] in user.premissions or premissions["Admin"] in user.premissions %}
          <li class="nav-item">
            <a class="nav-link noselect text-white {% if active == 'settings' %}active{% endif %}" href="/settings">Settings</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>

    <!-- Dropdown Navigation Menu -->
    <div class="row nav-menu right" id="profileMenu">
      <nav class="col">
        <ul class="nav flex-column nav-pills p-2">
          <li class="nav-item">
            <a class="nav-link noselect" style="color: var(--danger);" href="/auth/logout">Logout</a>
          </li>
        </ul>
      </nav>
    </div>
    {% endif %}

    <!-- Content Area -->
    <div class="row mt-3">
      <main class="col">
        {% block content %}
        {% endblock content %}
      </main>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    {% if user %}
    const burgerBtn = document.getElementById('burgerBtn');
    const navMenu = document.getElementById('navMenu');

    burgerBtn.addEventListener('click', function () {
      this.classList.toggle('open');
      if (navMenu.style.height === '0px' || !navMenu.style.height) {
        navMenu.style.height = navMenu.scrollHeight + 'px';
      } else {
        navMenu.style.height = '0px';
      }
    });

    const profileBtn = document.getElementById('profileBtn');
    const profileMenu = document.getElementById('profileMenu');

    profileBtn.addEventListener('click', function () {
      this.classList.toggle('open');
      if (profileMenu.style.height === '0px' || !profileMenu.style.height) {
        profileMenu.style.height = profileMenu.scrollHeight + 'px';
      } else {
        profileMenu.style.height = '0px';
      }
    });
    {% endif %}
  </script>
  {% block scripts %}
  {% endblock scripts %}
</body>
</html>
