{% extends 'base.html.j2' %}

{% block title %}Pilotica - Builder{% endblock %}

{% block body %}
    <!-- Card -->
    <div class="container" style="margin-top: 5%;">
    <div class="row justify-content-center">
        <div class="col-md-6">
        <div class="card-dark my-5">
            <div class="card-header">
            <h4 style="margin-top: 10px;" class="card-title text-center">Builder</h4>
            </div>
            <div class="card-body" style="margin-top: 5px;">
            <!-- Build Form -->
            <form method="POST">
                <div class="form-group">
                    <label for="src">Source File</label>
                    <select class="form-select dark-input" onchange="get_values()" name="src" id="src">
                        {% for src in sources %}
                            <option value="{{ src[1] }}" {% if src[0] == 0 %}selected{% endif %}>{{ src[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group" style="margin-top: 20px;">
                    <label for="name"">Binary Name</label>
                    <input type="text" value="executable.exe" name="name" id="name" class="form-control dark-input" required autofocus>
                </div>
                <div class="form-group" style="margin-top: 20px;">
                    <label for="target_os">Target System</label>
                    <select class="form-select dark-input" onchange="tos_change()" name="target_os" id="target_os">
                        <option value="windows" selected>Windows</option>
                        <!-- <option value="windows-dll">Windows (Dynamic Link Library)</option> # Not finished yet!  -->
                        <option value="linux">Linux</option>
                    </select>
                </div>
                <div class="form-group" style="margin-top: 20px;">
                    <label for="obfuscate">Obfuscate Binary</label>
                    <select class="form-select dark-input" name="obfuscate" id="obfuscate">
                        <option value="true" selected>true</option>
                        <option value="false">false</option>
                    </select>
                </div>
                <!--div class="form-group" style="margin-top: 20px;">
                    <label for="interval">Beacon interval (sec)</label>
                    <input type="text" value="20" name="interval" id="interval" class="form-control dark-input" required autofocus>
                </div -->
                <div id="values">
                </div>
                <center><button type="submit" class="btn btn-block" style="margin-top: 20px; background-color:#ff8800; color:white; font-weight: 600"><i class="bi bi-hammer"></i> Build Binary</button></center>
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>
    <script>
        function tos_change() {
            var e = document.getElementById("target_os");
            var value = e.options[e.selectedIndex].value;
            if (value == "linux") {
                document.getElementById("name").value = document.getElementById("name").value.replace(/\.[^/.]+$/, "");
            } else {
                document.getElementById("name").value += ".exe";
            }
        }

        function get_values() {
            var name = document.getElementById("src").value
            fetch("{{ url_for('webinterface.get_values') }}?name=" + name, { method: 'GET' })
            .then(response => response.json())
            .then(data => {
                var values_obj = document.getElementById('values')
                values_obj.innerHTML = ""
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                    var value = data[key];
                    // Perform the desired action with the key and value
                        values_obj.innerHTML += '<div class="form-group" style="margin-top: 20px;">' +
                            '<label for="name"">'+key+'</label>' +
                            '<input type="text" value="'+value+'" name="'+key+'" id="'+key+'" class="form-control dark-input" required>' +
                            '</div>'
                    }
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
        get_values()
    </script>
{% endblock %}