{% extends 'base.html.j2' %}

{% block title %}Pilotica - Operators{% endblock %}

{% block body %}
    <!-- Operators Tabel -->
    <div class="container">
        {% if operators %}
            <h3 class="title-text">Operators</h3>
            <table id="operators_table" class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">name</th>
                        <th scope="col">Role</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for operator in operators %}
                        
                            <tr>
                                <td>{{ operator["id"] }}</td>
                                <td>{{ operator["name"] }}</td>
                                <td>{{ operator["role"] }}</td>
                                <td>
                                    <button class="btn btn-secondary" onclick="edit_operator('{{ operator['id'] }}')" ><i class="bi bi-gear-fill"></i></button>
                                    {% if operator['id'] != current_operator.id %}
                                        <button class="btn btn-danger" onclick="confirm_delete(delete_operator, id='{{ operator['id'] }}')"><i class="bi bi-trash fs-6"></i></button>
                                    {% else %}
                                        <button class="btn btn-danger disabled"><i class="bi bi-trash fs-6"></i></button>
                                    {% endif %}
                                </td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3 class="title-text">No Operators in database</h3>
        {% endif %}
        <button type="button" class="btn btn-primary" onclick="add_operator()" data-dialogTitle="Add Operator" data-toggle="tooltip" data-placement="bottom" title="Add Operator"><i class="bi bi-database-fill-add"></i></button>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="font-weight: 600;"></h5>
                <button type="button" onclick="close_dialog()" class="btn close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editModal-form" action="{{ url_for('webinterface.edit_operator') }}" method="POST">
                    <input form="editModal-form" type="text" style="display: none;" name="id" id="operator_id" value=1>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Name:</label>
                        <input form="editModal-form" type="text" class="form-control" name="name" id="name" required>
                    </div>
                    <div class="form-group pwd-group" id="pwd-group">
                    </div>
                    <div class="from-group">
                        <label for="role">Role</label>
                        <select form="editModal-form" class="form-control" name="role" id="role" required>
                            <option id="OBSERVER" value="OBSERVER">Observer</option>
                            <option id="OPERATOR" value="OPERATOR">Operator</option>
                            <option id="ADMIN" value="ADMIN">Admin</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="close_dialog()">Cancel</button>
                <button type="button" class="btn btn-success" onclick="submit_editModal_form()" >Submit</button>
            </div>
        </div>
    </div>

    <!-- Operators JavaScript -->
    <script>{% include 'js/operators.js' %}</script>
{% endblock %}
